@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background: #222;
}


/*FIXED NAVBAR IS THE ISSUE*/
.nav {
	position: fixed;
  	background-color: #222;
  	top: 0;
  	left: 0;
  	right: 0;
  	transition: all 0.3s ease-in-out;
 	opacity: 0.8;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.2rem;
  transition: all 0.3s ease-in-out;
}

nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

nav.active a {
  color: #000;
}

nav.active {
  padding: 10px 0;
}

nav a.current,
nav a:hover {
	color: rgb(143, 157, 36);
  	font-weight: bold;
}


/*ALL WORKING TILL HERE*/

.hero {
  /* background: url('./img/IMG_0511.jpg'); */
  background-image: url(./img/IMG_0511.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.logo {
	/* background: url(logos/z_s_full.png); */
	/*background-size: cover;*/
	/*height: 100vh;*/
	
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}




/*ALL WORKING FROM HERE*/


.logo {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 19px;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}


/*Should fix this later*/
@media screen and (max-width:1400px){
	.nav-links {
		width: 70%;
	}
}

@media screen and (max-width:1156px){
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		 right: 0px;
		 height: 92vh;
		 top: 8vh;
		 background: black;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 width: 50%;
		 transform: translateX(100%);
		 transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
	}

	.burger div {
		background-color: rgb(143, 157, 36);
	}

	nav a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.2rem;
  transition: all 0.3s ease-in-out;
}

nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

nav.active a {
  color: #fff;
}

nav.active {
  padding: 10px 0;
}

nav a.current,
nav a:hover {
	color: rgb(143, 157, 36);
  	font-weight: bold;
}


}

.nav-active {
	transform: translateX(0%);
}


@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
}

@media screen and (max-width:768px){
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		 right: 0px;
		 height: 92vh;
		 top: 8vh;
		 background: black;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 width: 50%;
		 transform: translateX(100%);
		 transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
	}

	.burger div {
		background-color: rgb(143, 157, 36);
	}

	nav a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.2rem;
  transition: all 0.3s ease-in-out;
}

nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

nav.active a {
  color: #fff;
}

nav.active {
  padding: 10px 0;
}

nav a.current,
nav a:hover {
	color: rgb(143, 157, 36);
  	font-weight: bold;
}


}

.nav-active {
	transform: translateX(0%);
}


@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/*Working till here*/

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

footer {
  text-align: center;
  color: white;
  background-color: rgba(71, 71, 71, 0.8);
  /*position: fixed;*/
  bottom: 0px;
  width: 100%;
  padding: 10px;
}


/*First page multipage setup*/
.main_page_second {
  height: 90vh;
}

.move_section {
  margin-top: 3rem;
}

.main_page_third {
  height: 100vh;
}

.main_page_fourth {
  height: 100vh;
}

.main_page_fifth {
  height: 100vh;
}

.footer_section {
  	background-color: black;
  /*.height: 20vh;*/
}

.separate_contents {
  	padding-top: 20rem;
}

.separate_contents_footer {
  padding-top: 30rem;
}

/*HERE PICTURE TEXT AND TEXT PICTURE CSS STYLE*/

.container {
	color: white;
  	line-height: 30px;
  	letter-spacing: 1.2px;
}


.logo {
	width: 8rem;
    height: 3.2rem;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: -6px;
}

.logo {
	width: 175px;
	height: auto;
}

.picture-and-text {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 1.2rem;
	width: 80%;
}

.text {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #555;
	line-height: 30px;
	letter-spacing: 1.2px;
	margin: 2.5rem;
	width: auto;
}

.about_me {
	color: #555;
  	line-height: 30px;
  	letter-spacing: 1.2px;
}

.our_services_heading {
	color: #555;
	line-height: 30px;
	letter-spacing: 1.2px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 2.5rem;
}

.picture {
	display: flex;
	justify-content: space-around;
	align-items: center;
}



/* Responsive CSS Layout IMPORTANT */
.container-edit {
	display: grid;
	height: 100vh;
	grid-template-columns: 2fr 2fr;
	grid-template-rows:  1fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr;

	/* Here just literally write what we want to have in each grid  -- I have to add to each class or id 'grid-area: content1;' for the content to label it*/

	grid-template-areas:
	"about about"
	"our_services_content our_services_content"
	"content1 content2"
	"content3 content4"
	"content5 content6"
	"content8 content8"
	"content7 content7";

	/* grid-gap: 0.5rem; */
}

#content8 {
	grid-area: 	content8;
}

.container-contact {
	display: grid;
	margin-top: 8vh;
	height: 92vh;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 3fr 1fr 1fr;

	grid-template-areas: 
	"content10 content20"
	"content30 content30"
	"content7 content7";

	grid-gap: 0.8rem;
}

/* Contact style */

/* Edit this for phone view */
.who-am-i-content {
	margin-top: 1.5rem;
	margin-bottom: 2.8rem;
	margin-right: 10%;
	margin-left: 10%;
}

.who-am-i-heading {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 7%;
}

.contact-heading {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 7%;
}

.contact-content {
	margin-top: 1.5rem;
	margin-bottom: 2.8rem;
	margin-right: 10%;
	margin-left: 10%;
}

#content10{
	grid-area: content10;
	border: 1px solid rgb(125, 138, 29);
	border-radius: 6px;
	margin: 0.5rem;
	margin-top: 20%;
	margin-left: 20%;
}

#content20 {
	grid-area: content20;
	border: 1px solid rgb(125, 138, 29);
	border-radius: 6px;
	margin: 0.5rem;
	margin-top: 20%;
	margin-right: 20%;
}

#content30 {
	grid-area: content30;
}

.container h1 {
	line-height: 3rem;
}

.content-styling {
	/* border-radius: 8px; */
	margin-top: 2.5rem;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.text-styling {
	color: rgb(58, 58, 58);
	line-height: 35px;
	letter-spacing: 1.5px;
	padding: 1.4rem;
	font-size: 25px;
}

.content-styling-services {
	margin-top: 2.5rem;
	margin-bottom: 1.2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.our_services_styling {
	/* margin-right: 45%;
	margin-left: 45%; */
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.content-styling-text {
	margin-top: 2.5rem;
	margin-bottom: 1.2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

#content1 {
	/* background-image: url(logos/logo_svg_ZS_2.svg); */
	grid-area: content1;
	margin-left: 15rem;
	/* margin-left: 20%; */
	/* background-image: url(img/IMG_0134.JPG); */
}
#content2 {
	grid-area: content2;
	margin-right: 15rem;
	/* margin-right: 20%; */
}

#content3 {
	grid-area: content3;
	margin-left: 15rem;
	/* margin-left: 20%; */
}

#content4 {
	grid-area: content4;
	margin-right: 15rem;
	/* margin-right: 20%; */
}

#content5 {
	grid-area: content5;
	margin-left: 15rem;
	/* margin-left: 20%; */
}

#content6 {
	grid-area: content6;
	margin-right: 15rem;
	/* margin-right: 20%; */
}

#content7 {
	grid-area: content7;
}

#about {
	grid-area: about;
	border: 1px solid rgb(125, 138, 29);
	border-radius: 6px;
	margin-left: 15rem;
	margin-right: 15rem;
}


#our_services_content {
	font-size: 2rem;
	grid-area: our_services_content;
}

.footer-content {
	background-color: rgb(104, 104, 104);
}

.text-styling-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: black;
	line-height: 30px;
	letter-spacing: 1.2px;
	padding: 1.3rem;
}

/* Handling pictures in Zig Zag */

/* img {
	width: 40%;
	height: auto;
	border-radius: 8px;
	display: flex;
	align-items: center;
	margin-top: 2.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	align-items: center;
	/* border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.zig-zag-picture {
	border-radius: 10px;
}

.social-media-icons {
	margin: 0.5rem;
	margin-left: 1.2rem;
}

.button {
	border-radius: 8px;
	opacity: 0.5;
}



@media screen and (max-width: 768px){
	.container-edit {
		grid-template-columns: 1fr;
		/* Add amount of rows we need: 1pic / 1 text = 3x -- then we add some button bs and stuff */
		grid-template-rows: 1fr 1fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr;
		grid-template-areas:
		"about"
		"our_services_content" 
		"content1"
		"content2"
		"content4"
		"content3"
		"content5"
		"content6"
		"content8"
		"content7";
	}
	.container-contact {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr 1fr 1fr;
		grid-template-areas: 
		"content20"
		"content10"
		"content30"
		"content7";
	}

	/* Edit Padding for each content on phone so it appears closer to top */
	.content-styling-text {
		margin-top: 0.4rem;
		margin-bottom: 04.rem;
	}

	#content10 {
		grid-area: content10;
		border: 1px solid grey;
		border-radius: 6px;
		margin: 0.5rem;
	}
	#content20 {
		grid-area: content20;
		border: 1px solid grey;
		border-radius: 6px;
		margin: 0.5rem;
		margin-top: 2.5rem;
	}

	.who-am-i-content {
		margin: 5%;
	}

	.who-am-i-heading {
		margin-bottom: 0.5rem;
	}

	.text-styling {
		padding: 0.5rem;
	}

	.contact-heading {
		margin-top: 10%;
	}

	.social-media-icons {
		margin: 0.5rem;
	}

	#about{
		margin-left: 1rem;
		margin-right: 1rem;
	}

	#content1 {
		/* background-image: url(logos/logo_svg_ZS_2.svg); */
		grid-area: content1;
		margin-left: 1rem;
		/* background-image: url(img/IMG_0134.JPG); */
	}
	/* #content2 {
		grid-area: content2;
		margin-right: 1rem;
	}
	
	#content3 {
		grid-area: content3;
		margin-left: 1rem;
	}
	
	#content4 {
		grid-area: content4;
		margin-right: 1rem;
	}
	
	#content5 {
		grid-area: content5;
		margin-left: 1rem;
	}
	
	#content6 {
		grid-area: content6;
		margin-right: 1rem;
	} */

}

@media screen and (max-width: 1268px){

	/* #about {
		margin-left: 3rem;
		margin-right: 3rem;
	} */

	.container-edit {
		/* margin-left: 3rem;
		margin-right: 3rem; */
	}
}


@media screen and (max-width: 1024px){

	/* #about {
		margin-left: 3rem;
		margin-right: 3rem;
	} */

	.container-edit {
		/* margin-left: 1rem;
		margin-right: 1rem; */
	}
}





/* Style Icons */
/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  /* Twitter */
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }

  .fa-instagram {
	background: #cc183f;
	color: white;
  }
  .fac {
	  border-radius: 8px;
  }



  /* A Button CSS */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
} */


.button-part {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
 
.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background: rgb(125, 138, 29);;
	color: black;
	padding: 15px;
	font-family: inherit;
	font-size: 16px;
	border: 0;
	border-radius: 5px;
	margin-top: 1rem;
	margin-bottom: 1rem;
  }
  
  .btn:focus {
	outline: 0;
  }
  
  .btn:active {
	transform: scale(0.98);
  }


  @media screen and (max-width: 1080px) {

	#about {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}

  }

  @media screen and (max-width: 1600px) {

	#content1 {
		margin-left: 1.2rem;
	}

	#content2 {
		margin-right: 1.2rem;
	}

	#content3 {
		margin-left: 1.2rem;
	}

	#content4 {
		margin-right: 1.2rem;
	}

	#content5 {
		margin-left: 1.2rem;
	}

	#content6 {
		margin-right: 1.2rem;
	}

	#about {
		margin-right: 1.2rem;
		margin-left: 1.2rem;
	}

  }

.social_no_styling {
	text-decoration: none;
	color: rgb(143, 157, 36);
	
}

.our_services_styling h1 {
	color: rgb(125, 138, 29);
}

.custom-heading h1 {
	color: rgb(125, 138, 29);
}

.about_heading h1 {
	color: rgb(125, 138, 29)
}

.container-contact h1 {
	color: rgb(125, 138, 29)
}